.about__title {
  @mixin main-title;
}

.about__item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: black;
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-right: 10px;
  margin: 32px 0;
  background-position: left top;

  &_ecological {
    background-image: url('../img/icon-feature-1.svg');
    background-position: 8px top;
  }

  &_scandinavian {
    background-image: url('../img/icon-feature-3.svg');
  }

  &_increase-like {
    background-image: url('../img/icon-feature-5.svg');
    background-position: 7px 4px;
  }

  &_with-love {
    background-image: url('../img/icon-feature-2.svg');
    background-position: 4px top;
  }

  &_domestic-manufacturers {
    background-image: url('../img/icon-feature-4.svg');
  }

  &_gift-wrap {
    background-image: url('../img/icon-feature-6.svg');
    background-position: 3px top;
  }
}
