.comment {
  &_hidden {
    display: none;
  }
}

.comment__text {
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: var(--secondary-text-color);

  @media (--tablet-width) {
    margin-top: 44px;
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (--desktop-width) {
    margin-right: 80px;
    margin-bottom: 38px;
  }
}

.comment__author {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: black;

  @media (--tablet-width) {
    width: calc(var(--column-width-tablet) * 2);
  }
}

.comment__nick{
  margin-top: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: var(--secondary-text-color);
}
