.footer-logo {
  display: none;

  @media (--tablet-width) {
    display: flex;
    align-items: center;
  }
}

.footer-logo__img {

  &:hover,
  &:focus {
    fill: var(--color-tiffani);
  }

  &:active {
    opacity: 0.3;
  }
}
