.form {
  margin-bottom: 53px;
  @media (--tablet-width) {
    margin-bottom: 52px;
  }
  @media (--desktop-width) {
    margin-bottom: 48px;
  }
}

.form__description {
  margin-bottom: 24px;
  @media (--tablet-width) {
    margin-bottom: 0px;
  }
  @media (--desktop-width) {
    margin-left: 16.667%;
    width: calc($column-width-dekstop*4);
  }
}


.form__footer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  @media (--tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
  @media (--desktop-width) {
    width: calc($column-width-dekstop*4);
    margin-right: calc($column-width-dekstop);
    margin-left: calc($column-width-dekstop);
  }
}

.form__slogan {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $secondary-text-color;
  @media (--tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 7px;
  }
}

.form__required {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 29px;
  color: $secondary-text-color;
  @media (--tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0px;
  }
}

.form__btn {
  @media (--tablet-width) {
    width: 230px;
    margin: 0;
  }
}
