.form {
  margin-bottom: 53px;

  @media (--tablet-width) {
    margin-bottom: 52px;
  }

  @media (--desktop-width) {
    margin-bottom: 48px;
  }
}

.form__description {
  @media (--tablet-width) {
    margin-bottom: 0px;
  }

  @media (--desktop-width) {
    width: calc(var(--column-width-dekstop) * 4);
    margin-left: 16.667%;
  }
}


.form__footer {
  display: flex;
  flex-direction: column;
  margin-top: 14px;

  @media (--tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  @media (--desktop-width) {
    width: calc(var(--column-width-dekstop) * 4);
    margin-right: calc(var(--column-width-dekstop));
    margin-left: calc(var(--column-width-dekstop));
  }
}

.form__slogan {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--secondary-text-color);

  @media (--tablet-width) {
    margin-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__required {
  margin-top: 0px;
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);

  @media (--tablet-width) {
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__btn {

  @media (--tablet-width) {
    width: 230px;
    margin: 0;
  }
}
