.main-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  display: none;
  &_show {
    display: flex;
    top: 80px;
  }
  &_show:last-of-type {
    top: 238px;
  }
  @media (--tablet-width) {
    position: static;
    display: flex;
    width: auto;
    &:first-of-type {
      width: 100%;
      order: 1;
      margin-top: 18px;
    }
    &:last-of-type {
      margin-left: auto;
    }
    @media (--desktop-width) {
      &:first-of-type {
      width: auto;
      margin-top: 0;
      margin-right: auto;
      order: -1;
    }
  }
  }
}

.main-nav__link,
.main-nav__user-link {
  text-decoration: none;
  color: black;
  padding: 27px 0px 27px 70px;
  flex-grow: 1;
  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity:0.3;
  }
}

.main-nav__link {
  @media (--tablet-width) {
    padding: 0 36px 0 0;
  }
  @media (--desktop-width) {
    padding-right: 63px;
    &_padding {
    padding: 32px 34px 31px 0;
    }
    &_correct-padding {
      padding: 32px 0 31px 35px;
    }
  }
}

.main-nav__user-link {
  @media (--tablet-width) {
    padding: 32px 0 32px 82px;
  }
}


.main-nav__list,
.main-nav__user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  @media (--tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__list {
  @media (--desktop-width) {
    width: 380px;
  }
}

.main-nav__item,
.main-nav__user-item {
  border-bottom: 1px solid $color-border;
  background-color: white;
  @mixin secondary-title;
  display: flex;
  @media (--tablet-width) {
    border: none;
    background-color: transparent;
  }
}

.main-nav__item {
  &_desktop,
  &_delivery {
    display: none;
    font-weight: normal;
  }
  @media (--tablet-width) {
    &_tablet,
    &_delivery {
      font-size: 15px;
    }
    &_delivery {
      display: flex;
      margin-left: auto;
    }
  }
  @media (--desktop-width) {
    &_tablet {
      font-size: 17px;
    }
    &_tablet:nth-child(2) {
      border-left: 1px solid $color-border;
    }
    &_desktop {
      font-size: 15px;
      display: block;
      margin-top: 20px;
      line-height: 24px;
      font-weight: bold;
    }
    &_delivery {
      position: absolute;
      right: 50px;
      top: 106px;
    }
  }
}

.main-nav__delivery-text {
  @media (--tablet-width) {
    margin: 0;
    margin-left: auto;
  }
}

.main-nav__user-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: 31px;
  background-repeat: no-repeat;
  &_search {
    background-image: url('../img/icon-search.svg');
  }

  &_basket {
    background-image: url('../img/icon-cart.svg');
  }
  @media (--tablet-width) {
    &_basket,
    &_search {
      border-left: 1px solid $color-border;
    }
    &_search {
      font-size: 0;
    }
  }
}
