.page-footer{
  background-color: $background-color;
  border-bottom: 1px solid transparent;
  @media (--tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  @media (--tablet-width) {
    flex-direction: row;
  }
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  @media (--tablet-width) {
    border: none;
  }
}

.page-footer__social,
.page-footer__copyright {
  flex-basis: 33.33%;
  min-height: 79px;
}

.page-footer__logo {
  flex-basis: 33.33%;
}
