.page-header {
  position: relative;
  background-color: $background-color;
  margin-bottom: 30px;
  border-top: 1px solid $color-border;
  &_form {
    margin-bottom: 23px;
  }
  &_main {
    min-height: 466px;
    background: $background-color-main url('../img/hero-mobile@1x.jpg') no-repeat center -19px;
    margin-bottom: 27px;
  }
  @media (--tablet-width) {
    margin-bottom: 80px;
    margin-top: -42px;
    &_main {
        min-height: 742px;
        margin-bottom: 47px;
      }
    }
  @media (--desktop-width) {
    margin-bottom: 145px;
    &_main {
      margin-bottom: 124px;
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  &_main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    min-height: inherit;
  }
}

.page-header__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: black;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 76px;
  margin-top: 0;
  &_main {
    padding-top: 70px;
    padding-bottom: 94px;
  }
  @media (--tablet-width) {
    @mixin main-title-tablet;
    padding-top: 94px;
    padding-bottom: 73px;
    &_main {
      padding-top: 153px;
    }
    &_catalog {
      padding-bottom: 80px;
    }
  }
  @media (--desktop-width) {
    @mixin main-title-desktop;
    min-height: 65px;
  }
}

.page-header__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
  @media (--tablet-width) {
    flex-direction: row;
  }
}

.page-header__link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: white;
  background-repeat: no-repeat;
  min-height: 51px;
  margin: 0 -11.5%;
  padding: 26px 150px 31px 28px;
  transition: transform 0.2s;
  &_interior {
    background-image: url("../img/icon-interior.svg");
    background-color: $color-tiffani;
    background-position: top 23px right 37px;
    transform: translateY(10px);
    &:hover,
    &:focus {
      transform: translateY(5px);
    }
    @media (--tablet-width) {
      transform: translateY(5px);
      &:hover,
      &:focus {
        transform: translateY(0);
      }
    }
  }
  &_toys {
    background-image: url("../img/icon-toy.svg");
    background-color: $color-aquamarine;
    background-position: top 21px right 27px;
    transform: translateY(5px);
    &:hover,
    &:focus {
      transform: translateY(0);
    }
    @media (--tablet-width) {
      background-position: top 32px right 34px;
    }
  }
  @media(--tablet-width) {
    font-size: 20px;
    line-height: 30px;
    transform: translateY(5px);
    background-position: top 30px right 37px;
    width: 50%;
    margin: 0;
    padding-top: 30px;
    min-height: 62px;
    padding-left: 35px;
  }
  @media (--desktop-width) {
    padding-right: 299px;
    padding-left: 40px;
  }
}
