.products {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  @media (--desktop-width) {
    justify-content: space-between;
  }
}
