.radio-input {
  display: flex;
  min-height: 60px;

  @media (--tablet-width) {
    width: calc(var(--column-width-tablet) * 3);
  }

  @media (--desktop-width) {
    width: calc(var(--column-width-dekstop) * 3);
  }
}
.radio-input__control {

  &:checked + .radio-input__label::before {
    background-color: var(--color-tiffani);
  }
}

.radio-input__label {
  display: flex;
  align-items: baseline;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (--tablet-width) {
    margin-bottom: 24px;
    font-size: 19px;
  }

  &::before {
    @mixin icon-control;
    padding: 10px;
    background-clip: content-box;
    border-radius: 50%;

    @media (--tablet-width) {
      width: 52px;
      height: 52px;
      margin-right: 28px;
      padding: 13px;
    }
  }

  &:hover::before {
    border: 2px solid var(--color-tiffani);
  }

  &:active::before {
    border: 2px solid var(--color-border-control);
  }
}

.radio-input__control {
  display: none;
}
