.radio-input {
  display: flex;
  min-height: 60px;
  @media (--tablet-width) {
    width: calc($column-width-tablet*3);
  }
  @media (--desktop-width) {
    width: calc($column-width-dekstop*3);
  }
}
.radio-input__control {
  &:checked + .radio-input__label::before {
    background-color: $color-tiffani;
  }
}

.radio-input__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: baseline;
  overflow: hidden;
  width: 100%;
  @media (--tablet-width) {
    font-size: 19px;
    margin-bottom: 24px;
  }
  &::before {
    @mixin icon-control;
    border-radius: 50%;
    background-clip: content-box;
    padding: 10px;
    @media (--tablet-width) {
      width: 52px;
      height: 52px;
      padding: 13px;
      margin-right: 28px;
    }
  }
  &:hover::before {
    border: 2px solid $color-tiffani;
  }
  &:active::before {
    border: 2px solid $color-border-control;
  }
}

.radio-input__control {
  display: none;
}
