.select-input {
  display: inline-block;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
}

.select-input__control {
  display: none;
  &:checked + .select-input__label {
    border-color: $color-tiffani;
  }
}

.select-input__label {
  font-size: 17px;
  line-height: 20px;
  display: block;
  padding: 15px;
  border: 2px solid $color-border;
  color: $secondary-text-color;
  font-weight: bold;
}
