.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  @media (--tablet-width) {
    padding-top: 2px;
  }
}

.social__link {
  display: inline-flex;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  &:first-child {
    margin-left:0px
  }
  &:last-child {
    margin-right: 0px;
  }
}
