.survey {
  border: none;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  @media (--tablet-width) {
    padding-top: 50px;
    padding-bottom: 26px;
    &_background {
      background-color: $background-color;
    }
  @media (--desktop-width) {
    padding-bottom: 25px;
  }
  }
}

.survey__wrapper {
  display: flex;
  flex-direction: column;
  @media (--tablet-width) {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0px;
  }
}

.survey__legend {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $color-tiffani;
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 0 25px;
  &_margin-small {
    margin-bottom: 7px;
  }
  @media (--tablet-width) {
    width: $column-width-tablet;
    margin-top: 0px;
    flex-shrink: 0;
  }
  @media (--desktop-width) {
    width: $column-width-dekstop;
    padding-left: 61px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: $color-tiffani;
    margin-left: 25px;
    @media (--tablet-width) {
      content: none;
    }
  }
}

.survey__control {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (--tablet-width) {
    flex-direction: column;
    flex-wrap: wrap;
    width: calc($column-width-tablet*3);
    &_row-direction {
      flex-direction: row;
    }
  }
  @media (--desktop-width) {
    width: calc($column-width-dekstop*4);
  }
  &_wide {
    @media(--desktop-width) {
      width: calc($column-width-dekstop*5);
    }
  }
}
