.textarea-input {
  @mixin set-font-text-control;
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  padding: 15px;
  border: 2px solid var(--secondary-text-color);

  @media (--tablet-width) {
    font-size: 19px;
  }

  &:hover,
  &:focus {
    border-color: var(--color-tiffani);
  }
}
