.textarea-input {
  border: 2px solid $secondary-text-color;
  min-height: 142px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  @mixin set-font-text-control;
  @media (--tablet-width) {
    font-size: 19px;
  }
  &:hover, &:focus {
    border-color: $color-tiffani;
    }
}
