.top-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 79px;
  position: relative;

  @media (--tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 87px;
  }
}

.top-menu__toggle {
  position: absolute;
  content:'';
  width: 22px;
  height: 20px;
  background: url('../img/icon-menu-open.svg') no-repeat center;
  border: none;
  cursor: pointer;
  top: 28px;
  right: 30px;

  @media (--tablet-width) {
    display: none;
  }

  &_close {
    background: url('../img/icon-menu-close.svg') no-repeat center;
  }
}
