.video-wrap {
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 101px;
    height: 77px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -35px;
    background-image: url('../img/icon-play.svg');
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &:hover::before {
    transform: scale(1.2);
    transition: transform 0.2s;
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.6;
    transition: transform 0.2s, opacity 0.2s;
  }
  @media (--tablet-width) {
    order: -1;
    min-height: 455px;
  }
  @media (--desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
  }
}

.video-wrap__img {
  width: 100%;
  height: auto;
  @media (--desktop-width) {
    height: 454px;
  }
}
