@define-mixin main-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: black;
}

@define-mixin main-title-tablet {
  font-size: 43px;
  line-height: 50px;
}

@define-mixin main-title-desktop {
  font-size: 53px;
  line-height: 57px;
}

@define-mixin secondary-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

@define-mixin set-font-text-control {
  font-family: $font-family-set;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}

@define-mixin icon-control {
  border: 2px solid $secondary-text-color;
  content: "\00A0";
  margin-right: 22px;
  flex-shrink: 0;
  width: 40px;
  height: 39px;
  cursor: pointer;
  box-sizing: border-box;
}
